Aufgabe2a.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT kfz (auto+,motorrad+)>
<!ELEMENT auto (kennzeichen, halter, typ)>
<!ELEMENT kennzeichen (#PCDATA)>
<!ELEMENT halter (vorname,nachname)>
<!ELEMENT vorname (#PCDATA)>
<!ELEMENT nachname (#PCDATA)>
<!ELEMENT typ (#PCDATA)>
<!ELEMENT motorrad (kennzeichen, halter)>
