Aufgabe2a.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT KFZ (Auto+,Motorrad+)>
<!ELEMENT Auto (Kennzeichen, Halter, Typ)>
<!ELEMENT Kennzeichen (#PCDATA)>
<!ELEMENT Halter (Vorname,Nachname)>
<!ELEMENT Vorname (#PCDATA)>
<!ELEMENT Nachname (#PCDATA)>
<!ELEMENT Typ (#PCDATA)>
<!ELEMENT Motorrad (Kennzeichen, Halter)>
